* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Inter', sans-serif;
}


body {
background: #0f0f0f;
color: #ffffff;
line-height: 1.6;
font-family: 'Inter', sans-serif;
}


header {
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}


section {
padding: 100px 10%;
border-top: 1px solid #222;
}


h1, h2 {
font-weight: 600;
margin-bottom: 20px;
font-family: 'Space Grotesk', sans-serif;
}


p {
max-width: 700px;
}


nav {
position: fixed;
top: 0;
width: 100%;
padding: 20px 10%;
display: flex;
justify-content: space-between;
background: rgba(0,0,0,0.6);
backdrop-filter: blur(10px);
}


nav a {
color: #fff;
text-decoration: none;
margin-left: 20px;
font-size: 14px;
}


footer {
padding: 40px 10%;
text-align: center;
border-top: 1px solid #222;
font-size: 14px;
}

.btn {
transition: all 0.4s;
text-align: center;
cursor: pointer;
}

.btn:hover {
transform: scale(1.3);
}

.btn2 {
transition: all 0.4s;
text-align: center;
cursor: pointer;
}

.btn2:hover {
transform: scale(1.3);
}

.btn3 {
transition: all 0.4s;
text-align: center;
cursor: pointer;
}

.btn3:hover {
transform: scale(1.3);
}

.button3 {
background: #0095f6;
color: white;
font-family: 'Space Grotesk', sans-serif;;
border-radius: 18px 18px 18px 18px;
padding: 8px 16px;  
box-shadow: 0 1px 2px rgba(0,0,0,0.1); 
}

.button2 {
background: blue;
color: white;
font-family: 'Space Grotesk', sans-serif;;
border-radius: 18px 18px 18px 18px;
padding: 8px 16px;  
box-shadow: 0 1px 2px rgba(0,0,0,0.1); 
}

.button1 {
background: #0000A3;
color: white;
font-family: sans-serif;
border-radius: 18px 18px 18px 18px;
padding: 8px 16px;  
box-shadow: 0 1px 2px rgba(0,0,0,0.1); 
}

.hr {
margin-top: 20px;
margin-bottom: 40px;
}
